# rollup-plugin-styles has a peer dependency on older rollup@2.x
# but we need rollup v3 to support imort assertion
# rollup-plugin-styles seems to also work fine with rollup v3. so force it to being installed
force = true